body {
    justify-content: center;
    background-color: lightgray; 
    overflow-x: hidden;
    margin-left: 20%;
    margin-right: 20%
}

header {
    text-align: center;
    color: white;
    font-family: "Courier New";
    font-size: 25px;
    background-color: rgb(0, 195, 255);
    padding: 2px;
    margin-top: -1em;
    margin-left: -50%;
    margin-right: -50%;
    margin-bottom: 1em;
    border-bottom: solid;
    border-color: black;
}

#subtitle {
    font-family: "Courier New";
    font-size: 25px;
    margin-top: -1.25em
}

h2 {
    text-align: center;
    font-family: "Courier New";
    font-size: 25px;
    color: black;
    border: solid;
    border-color: black;
    background-color: rgb(0, 195, 255);
}

p{  
    font-family: "Verdana";
}

footer{
    text-align: center;
    justify-content: center;
    margin-left: -50%;
    margin-right: -50%;
    margin-top: 1em;
    margin-bottom: -1em;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(0, 195, 255);
    border-top: solid;
    border-color: black
    
}

#footergraph{
    font-family: "Courier New";
    font-size: 20px;
    color: white;
    padding-left: 10%;
    padding-right: 10%;
}

.topnav{
    margin-left: -30%;
    margin-bottom: 2em
    
}

.topnav a{
    font-family: "Courier New";
    font-size: 20px;
    border-radius: 30px;
    padding: 10px;
    background: rgb(0, 195, 255);
    color: white;
    margin-right: .5em;
    border: solid;
    border-color: black;
    text-decoration: none;
}

.topnav2{
    margin-left: -30%;
    margin-bottom: 2em;
    margin-top: 2em
    
}

.topnav2 a{
    font-family: "Courier New";
    font-size: 20px;
    border-radius: 30px;
    padding: 10px;
    background: rgb(0, 195, 255);
    color: white;
    margin-right: .5em;
    border: solid;
    border-color: black;
    text-decoration: none;
}

#table{
    height: 300px;
    overflow: auto;
}