<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predictions</title>
</head>
<body>
    <div class="topnav2">
        <a class="active" href="https://top25.herokuapp.com/">Home</a>
        <a class="active" href="https://top25.herokuapp.com/models">Models</a>
        <a class="active" href="https://top25.herokuapp.com/predictions">Predictions</a>
    </div>

    <h2>Interpreting the Predictions</h2>
    <p>
        These predictions were made by training a multiple linear regression model using the AP Poll data from past weeks to predict 
        the next week's rankings based on the results of the most recent games.
        <br><br>
        The "previous_rank" column shows what each team was ranked prior to the most recent games. The "predicted_rank" column shows the 
        output of the linear regression. The "predicted_ordinal_rank" column orders these rankings from 1 to 25, and the "actual_rank" 
        column shows what rank each team was given in the actual AP Poll.
        <br><br>
        Therefore, the "predicted_ordinal_rank" does not indicate whether a team will drop out of the top 25, while teams with a "predicted_rank"
        close to or greater than 26 are predicted to drop out.
    </p>

    <h2>Week 6 Predictions vs. Actual</h2>
    <!-- https://stackoverflow.com/questions/52644035/how-to-show-a-pandas-dataframe-into-a-existing-flask-html-table -->
    <div id = "table3">
        {% for table in tables %} 
            {{table|safe}}
        {% endfor %}
    </div>
    <footer>
        <p id = footergraph>
            For more info about my projects, or to get in contact with me, visit <br> <a href = ean-maloney.com>ean-maloney.com</a>.
        </p>
    </footer>
</body>
</html>