<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rankings Models</title>
</head>
<body>
    <div class="topnav2">
        <a class="active" href="https://top25.herokuapp.com/">Home</a>
        <a class="active" href="https://top25.herokuapp.com/models">Models</a>
    </div>

    <h2>Rankings Data</h2>
        <p id="date">Through 09/26/2021</p>
    <!-- https://stackoverflow.com/questions/52644035/how-to-show-a-pandas-dataframe-into-a-existing-flask-html-table -->
    <div id = "table">
        {% for table in tables %} 
            {{table|safe}}
        {% endfor %}
    </div>

    <h2>Regression Models</h2>
        <p>Post Week 5</p> 
    <footer>
        <p id = footergraph>
            For more info about my projects, or to get in contact with me, visit <br> <a href = ean-maloney.com>ean-maloney.com</a>.
        </p>
    </footer>
</body>
</html>