<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Technical Stuff</title>
</head>
<body>
    <div class="topnav2">
        <a class="active" href="https://top25.herokuapp.com/">Home</a>
        <a class="active" href="https://top25.herokuapp.com/models">Models</a>
        <a class="active" href="https://top25.herokuapp.com/predictions">Predictions</a>
        <a class="active" href="https://top25.herokuapp.com/technical_stuff">Technical Stuff</a>
    </div>

    <h2>Technical Docs, Papers, Memos, ... Stuff</h2>
        <p id=date style=text-align:center>Below are links to docs on topics related to this project.</p>
    <div id="doc">
        <h3 id="doc_header">Adjusting the Max Rankings Hyperparameter</h3>
        <p>
            Description: Evaluating the models with different values of the Max Ranking hyperparameter.
            <br><br>
            Posted: 10/22/2021
            <br><br>
            Last Updated: Never
            <br><br>
            <a href=https://docs.google.com/document/d/e/2PACX-1vRngx6XkRbMZ-kYVM4GpRfeOdwJu2LZQZ1wa9C3I-pYuUvwTGlxZGI-2sKe1fqySBjMts-Bttmy_m0k/pub>Link to Doc</a>
        </p>
    </div>
    <br>
    <div id="doc">
        <h3 id="doc_header">Dealing with Semi-Categorical Data</h3>
        <p>
            Description: How I handle the complicated interplay between numerical and categorical data in my model.
            <br><br>
            Posted: 10/22/2021
            <br><br>
            Last Updated: Never
            <br><br>
            <a href=https://docs.google.com/document/d/e/2PACX-1vRIssdSr40fzSHLH_faBaEvyfDJBmUX-iGy6SW-A5Cr11lA6-1_3LhNA85TA9OSOv4W9LY6nYKIyBuA/pub>Link to Doc</a>
        </p>
    </div>
    <br>
    <div id="doc">
        <h3 id="doc_header">Collinearity in the AP Poll Models</h3>
        <p>
            Description: Addressing some issues with collinear features in the models.
            <br><br>
            Posted: 10/19/2021
            <br><br>
            Last Updated: 10/22/2021
            <br><br>
            <a href=https://docs.google.com/document/d/e/2PACX-1vRogpTZJgNBHz6eVfnMfrMl6EyH-OpyfpODId2WFi8PND4wbvTVnd61EbliZUEfWwvPEHyA0DM1SOUR/pub>Link to Doc</a>
        </p>
    </div>
    <br>
    <div id="doc">
        <h3 id="doc_header">Data Flow Diagram</h3>
        <p>
            Description: A graphic showing the interconnected parts of this project and how it works.
            <br><br>
            Posted: 10/18/2021
            <br><br>
            Last Updated: Never
            <br><br>
            <a href=https://docs.google.com/document/d/e/2PACX-1vQqaqA1THaYAUeCK1nNW_6U6lmu2KnUObYYq5Zynn4ulSBmxKN79JkC4C17S96iQjANNGko544chmb6/pub>Link to Doc</a>
        </p>
    </div>
    <br>
    <div id="doc">
        <h3 id="doc_header">Why Do Different Models Have the Same Accuracy?</h3>
        <p>
            Description: For a couple weeks in a row one of my Decision Tree Models had 
            the exact same accuracy as one of my Support Vector Models. I decided
            to look into this and see what was going on.
            <br><br>
            Posted: 10/16/2021
            <br><br>
            Last Updated: Never
            <br><br>
            <a href=https://docs.google.com/document/d/e/2PACX-1vQaeNz-fJpA87uE5DQRpGQIfr97K9VljaJVX9fTQw2bwYVKnGLZwLE_oTNcbv6V4Rl_DdWtEicmiJIT/pub>Link to Doc</a>
        </p>
    </div>

    <footer>
        <p id = footergraph>
            For more info about my projects, or to get in contact with me, visit <br> <a href = ean-maloney.com>ean-maloney.com</a>.
        </p>
    </footer>
</body>
</html>