<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Technical Stuff</title>
</head>
<body>
    <div class="topnav2">
        <a class="active" href="https://top25.herokuapp.com/">Home</a>
        <a class="active" href="https://top25.herokuapp.com/models">Models</a>
        <a class="active" href="https://top25.herokuapp.com/predictions">Predictions</a>
        <a class="active" href="https://top25.herokuapp.com/technical_stuff">Technical Stuff</a>
    </div>

    <h2>Technical Docs, Papers, Memos, ... Stuff</h2>
        <p id=date style=text-align:center>Below are links to docs on topics related to this project.</p>
    
    <div id="doc">
        <h3 id="doc_header">Why Do Different Models Have the Same Accuracy?</h3>
        <p>
            Description: For a couple weeks in a row one of my Decision Tree Models had 
            the exact same accuracy as one of my Support Vector Models. I decided
            to look into this and see what was going on.
            <br><br>
            Posted: 10/16/2021
            <br><br>
            Last Updated: Never
            <br><br>
            <a href=https://docs.google.com/document/d/e/2PACX-1vQaeNz-fJpA87uE5DQRpGQIfr97K9VljaJVX9fTQw2bwYVKnGLZwLE_oTNcbv6V4Rl_DdWtEicmiJIT/pub>Link to Doc</a>
        </p>
    </div>

    <footer>
        <p id = footergraph>
            For more info about my projects, or to get in contact with me, visit <br> <a href = ean-maloney.com>ean-maloney.com</a>.
        </p>
    </footer>
</body>
</html>