<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rankings Models</title>
</head>
<body>
    <div class="topnav2">
        <a class="active" href="https://top25.herokuapp.com/">Home</a>
        <a class="active" href="https://top25.herokuapp.com/models">Models</a>
    </div>

    <h2>Rankings Data</h2>
        <p id="date">Through 09/26/2021</p>
    <!-- https://stackoverflow.com/questions/52644035/how-to-show-a-pandas-dataframe-into-a-existing-flask-html-table -->
    <div id = "table">
        {% for table in tables %} 
            {{table|safe}}
        {% endfor %}
    </div>

    <h2>Regression Models</h2>
        <p>Setup: The results column was converted from W/L to binary outcomes 1/0. Movement and Team columns were dropped. Target column Next Week Rank was split off. Train/test split set to .75/.25.</p>
        <p>Post Week 4: The Multiple Linear Regression Model is performing the best, with an R2 of approximately .933. Scaling values prior to fitting had little effect on the model. Random Forest and AdaBoost Regressions had R2 in the .80s.</p> 
        <p>Post Week 5: Linear Regression Model improved to .941. Random Forest and AdaBoost Models at near or above .90.</p>
    <h2>Classification Models</h2>
    <h3>Movement Predictor</h3>
        <p>Setup: Same as for regression except target column was set to values [0, 3] where 0 stands for "dropped out of top 25", 1 for "moved up in top 25", 2 for "moved down in top 25", and 3 for "stayed at same place in top 25".</p>
        <p>Post Week 4: Results were overall unimpressive with best accuracy around .71 for SVM classifier.</p>
        <p>Post Week 5: Random Forest Classifier improved to accuracy of .77, SVM model accuracy declined.</p>
    <h3>Bin Predictor</h3>
        <p>Setup: Same as for regression except target column was set to values [0, 5] where 0 stood for ranks 1-5, 1 for ranks 6-10, etc., and 5 for unranked.</p>
        <p>Post Week 4: Results were worse than for Movement Predictor. Top accuracy score for Decision Tree Classifier, with accuracy around .46.</p>
        <p>Post Week 5: Significant improvement in Random Forest Model to accuracy of .645.</p> 
    <footer>
        <p id = footergraph>
            For more info about my projects, or to get in contact with me, visit <br> <a href = ean-maloney.com>ean-maloney.com</a>.
        </p>
    </footer>
</body>
</html>